@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #1a1a2e;
  color: #fff;
}

#buttonDiv {
}

.btn-info,
.btn-dark {
  outline: none;
  font-size: 1rem;
  padding: 10px;
  width: 30rem;
  text-align: center;
  margin-bottom: 1rem;
  text-decoration: none;
  color: rgb(20, 26, 26);
  background: linear-gradient(
    90deg,
    rgb(18, 92, 255),
    0%,
    rgb(0, 102, 255) 100%
  );
  border-radius: 4px;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(8, 114, 244, 0.6);
  transition: transform 150ms;
  transform: scale(1.03);
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#game-div {
  text-align: center;
}

#highscore-link {
  color: #fecd1a;
  font-family: "Press Start 2P", cursive;
}

#hsText {
  color: #fecd1a;
  font-family: "Press Start 2P", cursive;
  margin-bottom: 10px;
  text-align: center;
}

#start-btn {
  background-color: #e94560;
  text-align: center;
}

#time {
  color: #fecd1a;
  font-family: "Press Start 2P", cursive;
}

#question {
  text-align: center;
}
